
.bord {
    font-size: 20px;
    border: 2px solid #413d3d8f;
    width: 483px;
    margin-top: 6%;
    text-align: center;
    background-color: #2b2323db;
    border-radius: 6%;
    padding-bottom: 27px;
    color: red;
}
header{
	background-color: #b1b1b1;
	width: 415px;
	height: 65px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000d1;
	text-align: right;

}

table{
    background-color: #b1b1b1;
    margin: 1px auto;
    margin-top: 2%;
    border-radius: 20px;
}

td{
    color: rgba(255, 0, 0, 0.82);
    width: 41px;
    height: 79px;
    text-align: center;
    font-size: 40px;

}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;

}